.desc{
    width: 550px;
}
.all{
    position: relative;
    left: 95px;
}
.intro{

    width: 1200px;
    position: absolute;
    left: 184px;
    top: -15px;
}
.rainbow>img{
    width: 110px;
    height: 3px;
    position: relative;
    top: 17px;
    left: 2px;
}
.images{
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: end;
    display: flex;
    width: 1480px;
    height: 550px;
    position: relative;
    top: 15px;
    right: 200px;
}
.image1{
    width: 550px;
    height: 250px;
    display: flex;
    border: solid 2px white;
}
.image2{
    width: 550px;
    height: 250px;
    display: flex;
    border: solid 2px white;

}
.image3{
    width: 550px;
    height: 250px;
    display: flex;
    border: solid 2px white;

}
.image4{
    width: 550px;
    height: 250px;
    display: flex;
    border: solid 2px white;

}

img{
    width: 230px;
    height: 180px;
    position: relative;
    left: 15px;
    top: 15px;
}
.image1>.text{
    width: 250px;
    position: relative;
    left: 70px;
    top:15px;
    font-size: 17px;

}
.image2>.text{
    width: 250px;
    position: relative;
    left: 70px;
    top: 15px;
    font-size: 17px;

}
.image3>.text{
    width: 250px;
    position: relative;
    left: 70px;
    top:36px;
    font-size: 17px;

}
.image4>.text{
    width: 250px;
    position: relative;
    left: 70px;
    top:25px;
    font-size: 17px;
}
.image1:hover{
    box-shadow: 10px 2px 20px rgb(170, 165, 165);
    transition: 0.6s;
}

.image2:hover{
    box-shadow: 10px 2px 20px rgb(170, 165, 165);
    transition: 0.6s;
}

.image3:hover{
    box-shadow: 10px 2px 20px rgb(170, 165, 165);
    transition: 0.6s;
}

.image4:hover{
    box-shadow: 10px 2px 20px rgb(170, 165, 165)    ;
    transition: 0.6s;
}

h2.code{
    font-weight: 800;
    letter-spacing: -1.2px;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #323232;
    line-height: 1.04;
    margin-bottom: 0;
}
h2.niyə{
    font-weight: 200;
    letter-spacing: -1.5px;
    position: relative;
    top: 45px;
}
h2{
    font-size: 47px;
    color: #323232;
    line-height: 1.04;
    margin-bottom: 0;
}
.intro{
    position: relative;
    bottom: 15px;
}