div{
    width: 600px;
    height: 400px;
    background-color: aqua;
    margin-left: 100px;

}
.all{
   /* background-color: green; */
    height: 60%;
}
.all>i{
    font-size: 100px;
    margin-right: 40px;
    color: rgb(18, 73, 18);
}
.all>i:first-child{
    
    margin: 40px;
}
.under{
    
    height: 30%;
}
.under>i{
    font-size: 20px;
    margin-left: 15px;
}
span{
    font-size: 20px;
}
