.google{
    width: 500px;
    height: 200px;
    color: white;
    background-color: rgb(72, 31, 138);  
    font-size: 89px;
    margin-left: 400px;
    margin-top: 200px;
    padding-left: 100px;
    padding-top: 100px;
    border-left: 100px;
    border-top: 100px;
    border-radius: 15% 0% 15% 0%;
    
}
